// see: https://bulma.io/documentation/customize/with-node-sass/
@charset "utf-8";
@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-o-steps/bulma-steps.sass";
@import "./node_modules/bulma-switch/src/sass/index.sass";
@import "./node_modules/@creativebulma/bulma-badge/src/sass/index.sass";
@import "./node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

.loading {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 100000;
}
  
.loading img {
    width: 50vw;
    height: 50vh;
}

.loading.visible {
    display: block;
}

.loading.hidden {
    display: none;
}
  
.avatar {
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 1.5rem;
    height: 1.5rem;
}

.avatar.lg {
    width: 2.5rem;
    height: 2.5rem;
}

.overflow-hidden div {
    overflow: hidden;
}

.campaign-body {
    font-size: larger;
}

.campaign-cover img {
    max-width: 459px;
    max-height: 345px;
}

.campaign-body img,
.update-body img,
.field img {
    max-width: 459px;
    max-height: 345px;
}

.tag:not(:first-child) {
    margin-left: 4px;
}

.modal {
    position: fixed;    
}

.modal-over-modal {
    z-index: 50;
}

.modal-card {
    inset: 1rem;
    border-radius: 6px;
}

.modal-close {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    z-index: 41;
}

@media screen and (max-width: 768px) {
    .modal-card {
        margin: 0;
        inset: 0;
        max-height: 100vh;
        border-radius: 0;
    }
    .modal-card-head {
        border-radius: 0;
    }
}

.input-color {
    border: 2px solid; 
    border-radius: 12px; 
    background-color: #fff;
    width: 100%;
}

.media:first-of-type {
    border: none;
}

.badge {
    top: 1px;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.dropdown-menu:hover {
    border-color: #0d3092;
}

.tabled .header {
    margin-top: 1rem;
    font-weight: bold;
}

.tabled .header .columns {
    background-color: #f6f6f6;
}

.tabled .body {
    margin-top: 0.8rem;
}

.tabled .body .columns:nth-child(even)  {
    background-color: #fafafa;
}

.tabled .body .columns:hover {
    background-color: #0000fa11;
    cursor: pointer;
}

.preview-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.share {
    display: inline-block;
    width: 8rem;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    border-radius: 4px;
}

.share.facebook {
    background-color: #3b5998;
}

.share.twitter {
    background-color: #00aced;
}

.share.email {
    background-color: #428a42;
}

.share:hover {
    color: #ff0;
}

.footer li {
    margin-bottom: 0.5rem;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #ff0;
}

.footer .icon {
    display: inline;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 3px 8px 3px 8px;
    margin-left: 4px;
}

.place-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 8px;
    font-weight: bold;
}

.place-bar .place-icon {
    flex: 0 0 4rem;
    font-size: 4rem;
}

.place-bar .place-name {
    flex: 1 0 auto;
    font-size: 2rem;
}

.place-button {
    margin: auto;
    width: 10rem;
    height: 6rem;
    line-height: 3rem;
    padding: 8px;
    text-align: center;
    border: 1px solid #428a42;
    border-radius: 4px;
    overflow: hidden;
}

.place-button:hover {
    border-color: #000;
}

.place-button .place-icon {
    font-size: 3rem;
    font-weight: bold;
}

.place-button .place-name {
    font-size: 1rem;
}

.page-title {
    font-size: 2rem; 
    font-variant: small-caps;
    font-weight: bold; 
    text-align: center;
}

