// see: https://bulma.io/documentation/customize/with-node-sass/
@charset "utf-8";
@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-o-steps/bulma-steps.sass";
@import "./node_modules/@creativebulma/bulma-badge/src/sass/index.sass";

.header {
}

.avatar {
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 1.5rem;
    height: 1.5rem;
}

.avatar.lg {
    width: 2.5rem;
    height: 2.5rem;
}

.campaign div {
    overflow: hidden;
}

.campaign-body {
    font-size: larger;
}

.campaign-cover img {
    max-width: 306px;
    max-height: 230px;
}

.campaign-body img {
    max-width: 306px;
    max-height: 230px;
}

.ReactModal__Overlay {
    z-index: 1000;
}

.input-color {
    border: 2px solid; 
    border-radius: 12px; 
    background-color: #fff;
    width: 100%;
}

.media:first-of-type {
    border: none;
}
