@font-face {
  font-family: 'Interface';
  src:
    url('./fonts/Interface.ttf?fssjjp') format('truetype'),
    url('./fonts/Interface.woff?fssjjp') format('woff'),
    url('./fonts/Interface.svg?fssjjp#Interface') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="inter-"], [class*=" inter-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Interface' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inter-alarm-clock:before {
  content: "\e900";
}
.inter-antenna:before {
  content: "\e901";
}
.inter-apartment:before {
  content: "\e902";
}
.inter-shopping-bag:before {
  content: "\e903";
}
.inter-shopping-basket:before {
  content: "\e904";
}
.inter-shopping-basket-1:before {
  content: "\e905";
}
.inter-battery:before {
  content: "\e906";
}
.inter-battery-1:before {
  content: "\e907";
}
.inter-bell:before {
  content: "\e908";
}
.inter-binocular:before {
  content: "\e909";
}
.inter-sailboat:before {
  content: "\e90a";
}
.inter-book:before {
  content: "\e90b";
}
.inter-bookmark:before {
  content: "\e90c";
}
.inter-briefcase:before {
  content: "\e90d";
}
.inter-brightness:before {
  content: "\e90e";
}
.inter-browser:before {
  content: "\e90f";
}
.inter-paint-brush:before {
  content: "\e910";
}
.inter-building:before {
  content: "\e911";
}
.inter-idea:before {
  content: "\e912";
}
.inter-school-bus:before {
  content: "\e913";
}
.inter-birthday-cake:before {
  content: "\e914";
}
.inter-birthday-cake-1:before {
  content: "\e915";
}
.inter-calculator:before {
  content: "\e916";
}
.inter-calendar:before {
  content: "\e917";
}
.inter-calendar-1:before {
  content: "\e918";
}
.inter-calendar-2:before {
  content: "\e919";
}
.inter-shopping-cart:before {
  content: "\e91a";
}
.inter-money:before {
  content: "\e91b";
}
.inter-money-1:before {
  content: "\e91c";
}
.inter-money-2:before {
  content: "\e91d";
}
.inter-cctv:before {
  content: "\e91e";
}
.inter-certificate:before {
  content: "\e91f";
}
.inter-certificate-1:before {
  content: "\e920";
}
.inter-chair:before {
  content: "\e921";
}
.inter-chat:before {
  content: "\e922";
}
.inter-chat-1:before {
  content: "\e923";
}
.inter-chef:before {
  content: "\e924";
}
.inter-cursor:before {
  content: "\e925";
}
.inter-wall-clock:before {
  content: "\e926";
}
.inter-coding:before {
  content: "\e927";
}
.inter-coffee:before {
  content: "\e928";
}
.inter-coffee-1:before {
  content: "\e929";
}
.inter-compass:before {
  content: "\e92a";
}
.inter-computer:before {
  content: "\e92b";
}
.inter-computer-1:before {
  content: "\e92c";
}
.inter-agenda:before {
  content: "\e92d";
}
.inter-crop:before {
  content: "\e92e";
}
.inter-crown:before {
  content: "\e92f";
}
.inter-pendrive:before {
  content: "\e930";
}
.inter-calendar-3:before {
  content: "\e931";
}
.inter-calendar-4:before {
  content: "\e932";
}
.inter-ruler:before {
  content: "\e933";
}
.inter-diagram:before {
  content: "\e934";
}
.inter-diamond:before {
  content: "\e935";
}
.inter-book-1:before {
  content: "\e936";
}
.inter-chat-2:before {
  content: "\e937";
}
.inter-chat-3:before {
  content: "\e938";
}
.inter-route:before {
  content: "\e939";
}
.inter-file:before {
  content: "\e93a";
}
.inter-inbox:before {
  content: "\e93b";
}
.inter-download:before {
  content: "\e93c";
}
.inter-cocktail:before {
  content: "\e93d";
}
.inter-dumbbell:before {
  content: "\e93e";
}
.inter-dvd:before {
  content: "\e93f";
}
.inter-edit:before {
  content: "\e940";
}
.inter-edit-1:before {
  content: "\e941";
}
.inter-edit-2:before {
  content: "\e942";
}
.inter-mortarboard:before {
  content: "\e943";
}
.inter-calendar-5:before {
  content: "\e944";
}
.inter-calendar-6:before {
  content: "\e945";
}
.inter-factory:before {
  content: "\e946";
}
.inter-file-1:before {
  content: "\e947";
}
.inter-file-2:before {
  content: "\e948";
}
.inter-filter:before {
  content: "\e949";
}
.inter-filter-1:before {
  content: "\e94a";
}
.inter-fire-extinguisher:before {
  content: "\e94b";
}
.inter-flag:before {
  content: "\e94c";
}
.inter-flame:before {
  content: "\e94d";
}
.inter-flash:before {
  content: "\e94e";
}
.inter-flight:before {
  content: "\e94f";
}
.inter-flight-1:before {
  content: "\e950";
}
.inter-bottle:before {
  content: "\e951";
}
.inter-floppy-disk:before {
  content: "\e952";
}
.inter-flow:before {
  content: "\e953";
}
.inter-focus:before {
  content: "\e954";
}
.inter-folder:before {
  content: "\e955";
}
.inter-dinner:before {
  content: "\e956";
}
.inter-fuel:before {
  content: "\e957";
}
.inter-gamepad:before {
  content: "\e958";
}
.inter-gift:before {
  content: "\e959";
}
.inter-trolley:before {
  content: "\e95a";
}
.inter-package:before {
  content: "\e95b";
}
.inter-hammer:before {
  content: "\e95c";
}
.inter-hammer-1:before {
  content: "\e95d";
}
.inter-headset:before {
  content: "\e95e";
}
.inter-house:before {
  content: "\e95f";
}
.inter-house-1:before {
  content: "\e960";
}
.inter-hook:before {
  content: "\e961";
}
.inter-id-card:before {
  content: "\e962";
}
.inter-id-card-1:before {
  content: "\e963";
}
.inter-idea-1:before {
  content: "\e964";
}
.inter-image:before {
  content: "\e965";
}
.inter-image-1:before {
  content: "\e966";
}
.inter-image-2:before {
  content: "\e967";
}
.inter-inbox-1:before {
  content: "\e968";
}
.inter-inbox-2:before {
  content: "\e969";
}
.inter-inbox-3:before {
  content: "\e96a";
}
.inter-inbox-4:before {
  content: "\e96b";
}
.inter-download-1:before {
  content: "\e96c";
}
.inter-bug:before {
  content: "\e96d";
}
.inter-invoice:before {
  content: "\e96e";
}
.inter-invoice-1:before {
  content: "\e96f";
}
.inter-key:before {
  content: "\e970";
}
.inter-startup:before {
  content: "\e971";
}
.inter-startup-1:before {
  content: "\e972";
}
.inter-library:before {
  content: "\e973";
}
.inter-idea-2:before {
  content: "\e974";
}
.inter-lighthouse:before {
  content: "\e975";
}
.inter-link:before {
  content: "\e976";
}
.inter-pin:before {
  content: "\e977";
}
.inter-pin-1:before {
  content: "\e978";
}
.inter-padlock:before {
  content: "\e979";
}
.inter-magic-wand:before {
  content: "\e97a";
}
.inter-magnifying-glass:before {
  content: "\e97b";
}
.inter-email:before {
  content: "\e97c";
}
.inter-email-1:before {
  content: "\e97d";
}
.inter-map:before {
  content: "\e97e";
}
.inter-pin-2:before {
  content: "\e97f";
}
.inter-map-1:before {
  content: "\e980";
}
.inter-marker:before {
  content: "\e981";
}
.inter-first-aid-kit:before {
  content: "\e982";
}
.inter-mail:before {
  content: "\e983";
}
.inter-chat-4:before {
  content: "\e984";
}
.inter-email-2:before {
  content: "\e985";
}
.inter-chip:before {
  content: "\e986";
}
.inter-chip-1:before {
  content: "\e987";
}
.inter-microphone:before {
  content: "\e988";
}
.inter-microphone-1:before {
  content: "\e989";
}
.inter-smartphone:before {
  content: "\e98a";
}
.inter-cocktail-1:before {
  content: "\e98b";
}
.inter-more:before {
  content: "\e98c";
}
.inter-ticket:before {
  content: "\e98d";
}
.inter-compass-1:before {
  content: "\e98e";
}
.inter-add-file:before {
  content: "\e98f";
}
.inter-nib:before {
  content: "\e990";
}
.inter-notebook:before {
  content: "\e991";
}
.inter-notepad:before {
  content: "\e992";
}
.inter-notepad-1:before {
  content: "\e993";
}
.inter-notepad-2:before {
  content: "\e994";
}
.inter-notification:before {
  content: "\e995";
}
.inter-notification-1:before {
  content: "\e996";
}
.inter-open-book:before {
  content: "\e997";
}
.inter-open-book-1:before {
  content: "\e998";
}
.inter-file-3:before {
  content: "\e999";
}
.inter-paint-bucket:before {
  content: "\e99a";
}
.inter-paint-roller:before {
  content: "\e99b";
}
.inter-paper-plane:before {
  content: "\e99c";
}
.inter-pen:before {
  content: "\e99d";
}
.inter-pencil:before {
  content: "\e99e";
}
.inter-pencil-1:before {
  content: "\e99f";
}
.inter-smartphone-1:before {
  content: "\e9a0";
}
.inter-photo-camera:before {
  content: "\e9a1";
}
.inter-push-pin:before {
  content: "\e9a2";
}
.inter-pin-3:before {
  content: "\e9a3";
}
.inter-push-pin-1:before {
  content: "\e9a4";
}
.inter-push-pin-2:before {
  content: "\e9a5";
}
.inter-video-player:before {
  content: "\e9a6";
}
.inter-swimming-pool:before {
  content: "\e9a7";
}
.inter-presentation:before {
  content: "\e9a8";
}
.inter-presentation-1:before {
  content: "\e9a9";
}
.inter-presentation-2:before {
  content: "\e9aa";
}
.inter-file-4:before {
  content: "\e9ab";
}
.inter-user:before {
  content: "\e9ac";
}
.inter-property:before {
  content: "\e9ad";
}
.inter-wallet:before {
  content: "\e9ae";
}
.inter-radio:before {
  content: "\e9af";
}
.inter-radio-1:before {
  content: "\e9b0";
}
.inter-random:before {
  content: "\e9b1";
}
.inter-open-book-2:before {
  content: "\e9b2";
}
.inter-reload:before {
  content: "\e9b3";
}
.inter-cutlery:before {
  content: "\e9b4";
}
.inter-startup-2:before {
  content: "\e9b5";
}
.inter-router:before {
  content: "\e9b6";
}
.inter-ruler-1:before {
  content: "\e9b7";
}
.inter-safebox:before {
  content: "\e9b8";
}
.inter-hourglass:before {
  content: "\e9b9";
}
.inter-satellite:before {
  content: "\e9ba";
}
.inter-calendar-7:before {
  content: "\e9bb";
}
.inter-monitor:before {
  content: "\e9bc";
}
.inter-monitor-1:before {
  content: "\e9bd";
}
.inter-search:before {
  content: "\e9be";
}
.inter-cursor-1:before {
  content: "\e9bf";
}
.inter-settings:before {
  content: "\e9c0";
}
.inter-share:before {
  content: "\e9c1";
}
.inter-share-1:before {
  content: "\e9c2";
}
.inter-share-2:before {
  content: "\e9c3";
}
.inter-crane:before {
  content: "\e9c4";
}
.inter-ship:before {
  content: "\e9c5";
}
.inter-shopping-cart-1:before {
  content: "\e9c6";
}
.inter-sim-card:before {
  content: "\e9c7";
}
.inter-sofa:before {
  content: "\e9c8";
}
.inter-speaker:before {
  content: "\e9c9";
}
.inter-speaker-1:before {
  content: "\e9ca";
}
.inter-speech:before {
  content: "\e9cb";
}
.inter-stamp:before {
  content: "\e9cc";
}
.inter-stethoscope:before {
  content: "\e9cd";
}
.inter-suitcase:before {
  content: "\e9ce";
}
.inter-syringe:before {
  content: "\e9cf";
}
.inter-tag:before {
  content: "\e9d0";
}
.inter-tag-1:before {
  content: "\e9d1";
}
.inter-target:before {
  content: "\e9d2";
}
.inter-tea:before {
  content: "\e9d3";
}
.inter-chip-2:before {
  content: "\e9d4";
}
.inter-telescope:before {
  content: "\e9d5";
}
.inter-ticket-1:before {
  content: "\e9d6";
}
.inter-ticket-2:before {
  content: "\e9d7";
}
.inter-calendar-8:before {
  content: "\e9d8";
}
.inter-torch:before {
  content: "\e9d9";
}
.inter-train:before {
  content: "\e9da";
}
.inter-delivery-truck:before {
  content: "\e9db";
}
.inter-delivery-truck-1:before {
  content: "\e9dc";
}
.inter-delivery-truck-2:before {
  content: "\e9dd";
}
.inter-trash:before {
  content: "\e9de";
}
.inter-suitcase-1:before {
  content: "\e9df";
}
.inter-television:before {
  content: "\e9e0";
}
.inter-umbrella:before {
  content: "\e9e1";
}
.inter-outbox:before {
  content: "\e9e2";
}
.inter-upload:before {
  content: "\e9e3";
}
.inter-usb:before {
  content: "\e9e4";
}
.inter-user-1:before {
  content: "\e9e5";
}
.inter-video-camera:before {
  content: "\e9e6";
}
.inter-gallery:before {
  content: "\e9e7";
}
.inter-film-reel:before {
  content: "\e9e8";
}
.inter-video-player-1:before {
  content: "\e9e9";
}
.inter-wallet-1:before {
  content: "\e9ea";
}
.inter-watch:before {
  content: "\e9eb";
}
.inter-bottle-1:before {
  content: "\e9ec";
}
.inter-coding-1:before {
  content: "\e9ed";
}
.inter-wifi:before {
  content: "\e9ee";
}
.inter-writing:before {
  content: "\e9ef";
}
.inter-zoom-in:before {
  content: "\e9f0";
}
.inter-zoom-out:before {
  content: "\e9f1";
}
