// see: https://bulma.io/documentation/customize/with-node-sass/
@charset "utf-8";
@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-o-steps/bulma-steps.sass";
@import "./node_modules/bulma-switch/src/sass/index.sass";
@import "./node_modules/@creativebulma/bulma-badge/src/sass/index.sass";
@import "./node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

.home {
    position: relative;
    height: 100%;
}

.container {
    .front-info {
        .icon {
            color: $success;
        }
    }
}

.divider {
    border-bottom: 2px solid rgba(255,255,255,.1);
    border-radius: 0;
    padding: 0;
}

.loading {
    position: absolute;
    left: 50vw;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;

    img {
        width: 50vw;
        height: 50vh;
    }

    &.visible {
        display: block;
    }

    &.hidden {
        display: none;
    }
}
  
.avatar {
    background-color: #89d0eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    &.sm {
        width: 1.5rem;
        height: 1.5rem;    
        font-size: 1.5rem;
    }

    &.lg {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
    }
}

.giga-icon {
    font-size: 15rem !important;
    background-color: $primary-light;
}

.fi {
    border-radius: 40%;
}

.scene-container {
    margin: auto;
}

.overflow-hidden {
    div {
        overflow: hidden;
    }
}

.campaign-body {
    font-size: larger;
}

.campaign-cover {
    img {
        max-width: 459px;
        max-height: 345px;
    }
}

.campaign-body,
.update-body,
.field {
    img {
        max-width: 459px;
        max-height: 345px;
    }
}

.tag:not(:first-child) {
    margin-left: 4px;
}

.modal {
    position: fixed;    
}

.modal-over-modal {
    z-index: 50;
}

.modal-card {
    inset: 1rem;
    border-radius: 6px;
}

.modal-close {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    z-index: 41;
}

.modal-card-head {
    background-color: hsl(171, 38%, 72%);
}

@media screen and (max-width: 768px) {
    .modal-card {
        margin: 0;
        inset: 0;
        max-height: 100vh;
        border-radius: 0;
    }
    .modal-card-head {
        border-radius: 0;
    }
}

.input-color {
    border: 2px solid; 
    border-radius: 12px; 
    background-color: #fff;
    width: 100%;
}

.media:first-of-type {
    border: none;
}

.badge {
    top: 1px;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;

    &:hover {
        border-color: #0d3092;
    }
}

.tabled {
    .header {
        margin-top: 1rem;
        font-weight: bold;

        .columns {
            background-color: #f6f6f6;
        }
    }
    
    .body {
        margin-top: 0.8rem;

        .columns {
            &:nth-child(even) {
                background-color: #fafafa;
            }

            &:hover {
                background-color: #0000fa11;
                cursor: pointer;
            }
        }
    }
}

.preview-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.footer {
    li {
        margin-bottom: 0.5rem;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #ff0;
    }

    .icon {
        display: inline;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 3px 8px 3px 8px;
        margin-left: 4px;
    }
}

.place-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 8px;
    font-weight: bold;

    .place-icon {
        flex: 0 0 4rem;
        font-size: 4rem;
    }
    
    .place-name {
        flex: 1 0 auto;
        font-size: 2rem;
    }
}

.place-icon {
    text-align: center;
    font-size: 3rem;
}

.page-title {
    font-size: 2rem; 
    font-variant: small-caps;
    font-weight: bold; 
    text-align: center;
}

.select {
    width: 100% !important;
    height: unset !important;
}

.border {
    border: 1px solid #eee;
    border-radius: 4px;
}

.campaign-actions,
.campaign-share {
    .action, .option {
        display: flex; 
        flex-direction: column; 
        text-align: center;

        &:not(.disabled):hover {
            color: #428a42;
            cursor: pointer;
        }

        &.disabled {
            color: #ccc;
        }
    }
}

.email-body {
    span:hover {
        cursor: pointer;
        background-color: #eee;
    }
}

.icon-picker-container {
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    font-size: 3rem;
    padding-bottom: 4px;
    margin-bottom: 1rem;
    color: #666;
}

.icon-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    &:hover {
        border-color: #428a42;
        cursor: pointer;
    }
    
    &:not(last-child) {
        margin-right: 4px;
    }

    &.selected {
        color: #000;
        border-color: fuchsia;
    }
}

.kind-selector {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    .column {
        text-align: center;
        > div {
            padding-top: 8px;
            padding-bottom: 8px;
            border: 1px solid #ccc;
            border-radius: 6px;
            text-align: center;

            &:hover {
                cursor: pointer;
                border-color: #444;
                background-color: #fafafa;
            }

            &.selected {
                font-weight: bold;
                border-color: $black;
                background-color: #eee;
            }

            i {
                font-size: 2rem;
            }
        }
    }
}

.tier-container {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;

    .bar {
        position: relative;
        display: flex;

        .buttons {
            position: absolute;
            top: 2px;
            right: 2px;

            div {
                &:hover {
                    cursor: pointer;
                }

                &.disabled {
                    color: #888;
                }
            }
        }
    }
}

.tier-option {
    min-width: 20rem;
    overflow-x: hidden;
}

a:not(:first-child) {
    &> .tier-option {
        border-top: 1px solid #f0f0f0;
    }
}

.progress {
    &.voting {
        background-color: $danger;
    }
}

.voting progress::-webkit-progress-bar {
        background-color: $danger !important;
}

