// see: https://bulma.io/documentation/customize/with-node-sass/
@charset "utf-8";
@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-o-steps/bulma-steps.sass";
@import "./node_modules/bulma-switch/src/sass/index.sass";
@import "./node_modules/@creativebulma/bulma-badge/src/sass/index.sass";
@import "./node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

.home {
    position: relative;
    height: 100%;
}

.container {
    .front-info {
        .icon {
            color: $success;
        }
    }
}

.divider {
    border-bottom: 2px solid rgba(255,255,255,.1);
    &.dark {
        border-color: rgba(0,0,0,.1);
    }
    border-radius: 0;
    padding: 0;
}

.loading {
    position: absolute;
    left: 50vw;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;

    img {
        width: 50vw;
        height: 50vh;
    }

    &.visible {
        display: block;
    }

    &.hidden {
        display: none;
    }
}
  
.avatar {
    background-color: #89d0eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    &.sm {
        width: 1.5rem;
        height: 1.5rem;    
        font-size: 1.5rem;
    }

    &.lg {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
    }

    &.xl {
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }
}

.fi {
    border-radius: 40%;
}

.scene-container {
    margin: auto;
}

.overflow-hidden {
    &div {
        overflow: hidden;
    }
}

.campaign-body {
    text-align: justify;
    font-size: 1.15rem;

    p {
        margin-bottom: 1rem;
    }
}

.campaign-cover {
    img {
        width: 100%;
    }
}

.campaign-body,
.update-body,
.field {
    img {
        max-width: 459px;
        max-height: 345px;
    }
}

.tag:not(:first-child) {
    margin-left: 4px;
}

.modal {
    position: fixed;    
}

.modal-over-modal {
    z-index: 50;
}

.modal-card {
    inset: 1rem;
    border-radius: 6px;
}

.modal-close {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    z-index: 41;
}

.modal-card-head {
    background-color: hsl(171, 38%, 72%);
}

@media screen and (max-width: 768px) {
    .modal-card {
        margin: 0;
        inset: 0;
        max-height: 100vh;
        border-radius: 0;
    }
    .modal-card-head {
        border-radius: 0;
    }
}

.input-color {
    border: 2px solid; 
    border-radius: 12px; 
    background-color: #fff;
    width: 100%;
}

.media:first-of-type {
    border: none;
}

.badge {
    top: 1px;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;

    &:hover {
        border-color: #0d3092;
    }
}

.tabled {
    .header {
        margin-top: 1rem;
        font-weight: bold;

        .columns {
            background-color: #f6f6f6;
        }
    }
    
    .body {
        margin-top: 0.8rem;

        .columns {
            &:nth-child(even) {
                background-color: #fafafa;
            }

            &:hover {
                background-color: #0000fa11;
                cursor: pointer;
            }
        }
    }
}

.preview-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.footer {
    li {
        margin-bottom: 0.5rem;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #ff0;
    }

    .icon {
        display: inline;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 3px 8px 3px 8px;
        margin-left: 4px;
    }
}

.place-icon {
    text-align: center;
    font-size: 3rem;

    img {
        max-width: 96px;
        max-height: 96px;
        border-radius: 8px !important;
    }

    &.giga-icon {
        font-size: 15rem;
        line-height: 20rem;
        background-color: $primary-light;

        img {
            max-width: 240px;
            max-height: 240px;
        }
    }
}

.user-places {
    .place-icon {
        font-size: 6rem;
    }
}

.place-bar {
    position: relative;
    width: 100%;
    padding: 48px 16px 4px 16px;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-color: rgb(226, 245, 242);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='446' height='446' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23fff' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23fff'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");

    .place-icon {
        flex: 0 0 4rem;
        font-size: 4rem;
        font-weight: bold;
        display: flex;
        border-radius: 8px;

        img {
            border: 2px solid #fff8;
        }

        i {
            text-shadow: 4px 0 0 #fff8, -4px 0 0 #fff8, 0 4px 0 #fff8, 0 -4px 0 #fff8, 2px 2px #fff8, -2px -2px 0 #fff8, 2px -2px 0 #fff8, -2px 2px 0 #fff8;
            border: 2px solid #fff8;
            border-radius: 8px;
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            overflow: hidden;
            display: flex;

            &::before {
                flex: 0 0 100%;
                margin: auto;
                padding: 0;
            }
        }
    }
    
    .place-name {
        flex: 1 0 auto;
        font-weight: bold;
        font-size: 2rem;
        text-shadow: 2px 0 0 #fff8, -2px 0 0 #fff8, 0 2px 0 #fff8, 0 -2px 0 #fff8, 1px 1px #fff8, -1px -1px 0 #fff8, 1px -1px 0 #fff8, -1px 1px 0 #fff8;
    }

    .place-buttons {
        div {
            width: fit-content;
            border: 2px solid #fff8;
            border-radius: 8px;
        }
    }

    .place-info {
        margin: 0;
        padding: 0;
        font-size: smaller;
        .level-right {
            padding: 0 16px;
            width: fit-content;
            background-color: #0003;
        }
    }
}

.places {
    .place-icon {
        &:hover {
            background-color: $danger-light;
        }
    }
}

.page-title {
    font-size: 2rem; 
    font-variant: small-caps;
    font-weight: bold; 
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
}

.select {
    width: 100% !important;
    height: unset !important;
}

.border {
    border: 1px solid #eee;
    border-radius: 4px;
}

.campaign-actions,
.campaign-share {
    .action, .option {
        display: flex; 
        flex-direction: column; 
        text-align: center;

        &:not(.disabled):hover {
            color: #428a42;
            cursor: pointer;
        }

        &.disabled {
            color: #ccc;
        }
    }
}

.email-body {
    span:hover {
        cursor: pointer;
        background-color: #eee;
    }
}

.icon-picker-container {
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    font-size: 3rem;
    padding-bottom: 4px;
    margin-bottom: 1rem;
    color: #666;
}

.icon-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    &:hover {
        border-color: #428a42;
        cursor: pointer;
    }
    
    &:not(last-child) {
        margin-right: 4px;
    }

    &.selected {
        color: #000;
        border-color: fuchsia;
    }
}

.kind-selector {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    .column {
        text-align: center;
        > div {
            padding-top: 8px;
            padding-bottom: 8px;
            border: 1px solid #ccc;
            border-radius: 6px;
            text-align: center;

            &:hover {
                cursor: pointer;
                border-color: #444;
                background-color: #fafafa;
            }

            &.selected {
                font-weight: bold;
                border-color: $black;
                background-color: #eee;
            }

            i {
                font-size: 2rem;
            }
        }
    }
}

.tier-container {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;

    .bar {
        position: relative;
        display: flex;

        .buttons {
            position: absolute;
            top: 2px;
            right: 2px;

            div {
                &:hover {
                    cursor: pointer;
                }

                &.disabled {
                    color: #888;
                }
            }
        }
    }
}

.tier-option {
    min-width: 20rem;
    overflow-x: hidden;
}

a:not(:first-child) {
    &> .tier-option {
        border-top: 1px solid #f0f0f0;
    }
}

.progress {
    &.voting {
        background-color: $danger;
    }
}

.voting progress::-webkit-progress-bar {
    background-color: $danger !important;
}

.moderation-badge {
    border: 2px dotted #fff;
}

.moderation-item {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 4px;
}

.report-item {
    article {
        .media-content {
            display: flex;
            height: 14rem;
            flex-direction: column;

            .content {
                flex: 1 0 90%;
            }

            .controls {
                flex: 1 0 10%;
            }
        }
    }
}

.intl {
    &.icon {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        &img {
            width: auto;
            height: 12px;
        }
    }
}